* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/background-blur.jpg);
    background-position: center no-repeat;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

.main-container {
    position: absolute;
    height: 65%;
    width: 80%;
    background-color: aliceblue;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 3px double;
    border-radius: 10px;
    border-color: aquamarine;
    box-shadow: 10px 10px 30px #b3ffe6;
}

.player-area {
    float: left;
    width: 50%;
    text-align: center;
    padding: 50px;

}

.player-name {
    font-size: 40px;
    color: #00cc88;
    letter-spacing: 3px;
    margin: 30px;
    padding-left: 10px;
}

.player-score {
    font-size: 80px;
    color: #ff704d;

}

.current-score-area {
    background-color: #00cc88;
    height: 100px;
    width: 150px;
    position: relative;
    margin: 100px auto;
    border-radius: 5px;
}


.current-word {
    padding-top: 10px;
    color: #404040;
    letter-spacing: 1px;
}

.current-score {
    padding: 5px;
    margin: 10px;
    color: antiquewhite;
    font-size: 30px;
}

button {
    height: 20px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    color: #00cc88;
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    font-weight: bolder;
    letter-spacing: 1px;
}

button: hover i {
    margin-right: 5px;
}

button:focus {
    outline: none;
}

.button {

    font-family: 'Quicksand';
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.button i {
    padding: 5px;

}

.btn-new {
    top: 20px;
}

.btn-roll {
    top: 380px;
  }

.btn-hold {
    top: 460px;
}

.btn-rules {
    top: 550px;
}

img {
    height: 80px;
    width: auto;
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    background-color: aliceblue;
    border: none;
    border-radius: 8px;
    ;
}

.active {
    font-weight: 600;
    background-color: #dcdcdc;
}

.winner {
    background-color: rgba(102, 204, 0, 0.5);
    font-weight: 800;

}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 61%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 0px;
    padding: 0px;
    border: 1px solid #888;
    width: 100%;
    text-transform: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.5s;
    letter-spacing: 1px;
    line-height: 4vh;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-header {
    padding: 2px 14px;
    background-color: #00cc88;
    color: aliceblue;
    
    height: 50px;
}
.modal-header p {
    font-size: 25px;
}

.modal-body {
    padding: 2px 14px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: aqua;
    text-decoration: none;
    cursor: pointer;
}